.footer {
    &__top {
        background-image: url("../../../public/frontend/jpgs/footer.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: max-content;
        position: relative;
        color: $color-white;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $gradient-footer;
        }
        &--content {
            max-width: $max-width;
            margin: auto;
            position: relative;
            z-index: 1;
            padding: 60px 0px;
            display: flex;
            gap: 35px;
            &--left {
                flex: 0 0 50%;
            }
            &--right {
                flex: 0 0 none;
                position: relative;
                z-index: 2;
                & > div {
                    text-align: right;
                }
                & > button {
                    margin-top: 30px;
                    float: right;
                }
            }
            .title {
                color: $color-white;
                font-size: 52px;
                font-weight: 700;
                line-height: 1.1;
                @media only screen and (max-width: $breakpoints-md) {
                    font-size: 30px;
                }
            }
            .desc {
                color: $color-white;
                font-size: 20px;
                font-weight: 400;
                @media only screen and (max-width: $breakpoints-md) {
                    font-size: 18px;
                }
            }

            @media only screen and (max-width: $breakpoints-lg) {
                max-width: unset;
                padding: 50px 2.5rem;
            }
            @media only screen and (max-width: $breakpoints-mmd) {
                flex-direction: column;
                text-align: center;
                justify-content: center;
                button {
                    float: unset;
                    margin: 30px auto 0px auto;
                }
            }
        }
    }
    &__bottom {
        background-color: $color-primary--main;
        color: $color-white;
        &__container {
            max-width: $max-width;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding: 50px 0px;
            gap: 50px;
            @media only screen and (max-width: $breakpoints-lg) {
                max-width: unset;
                padding: 50px 2.5rem;
            }
            @media only screen and (max-width: $breakpoints-mmd) {
                grid-template-columns: repeat(2, 1fr);
                justify-content: center;
                text-align: center;
            }
            @media only screen and (max-width: $breakpoints-mmd) {
                padding: 50px;
            }
            @media only screen and (max-width: $breakpoints-sm) {
                grid-template-columns: repeat(1, 1fr);
            }
            .logo__container {
                margin-top: -10px;
                margin-right: 10px;
                img {
                    width: 340px;
                    height: auto;
                    margin-bottom: 20px;
                }
            }
            h2 {
                color: #fff;
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 20px;
                @media only screen and (max-width: $breakpoints-md) {
                    font-size: 18px;
                }
            }
            .link {
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
